<launch>

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    **<remap from="robot_description" to="$(find museumGuide)/urdf_model/peoplebot.xml" />**

    <remap from="joint_state" to="joint_state"/>
    <param name="publish_frequency" type="double" value="15.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

</launch>